# Assign port number for the server to listen on
PORT=your-port

# Database connection string for PostgreSQL (from Neon)
DATABASE_URL=your-database_url

# Rate limiting configuration
RATE_LIMIT_WINDOW=your-rate_limit_window
RATE_LIMIT_MAX=your-rate_limit_max
